data/*

# 참조
# https://github.com/gnuboard/youngcart5/blob/master/.gitignore
!.gitignore
/.htaccess
data/
test/
sirgle/
test.php
*.key
*.sh
log
g5_tree/
yc5_tree/
cheditor5.*/
ckeditor*/
log/
g5_tree/
naver*.html
initests01/
SIRsoft000/
# config.php

# smPark 추가
.vscode/